<!-- Template Helper: sidebar, which can used in different pages-->
<!--CUSTOMIZE: Build menu structure as needed-->
<nav class="col-3 col-xl-2 col-md-3 sidebar dbl-margin-top" role="navigation">
    <ul id="rootSidebar">
        <li class="sidebar__item selected">
            <a href="/" tabindex="0" title="Assets" target="_blank">
                <span class="icon-lightbulb"></span>
                <span>Instructions<!--CUSTOMIZE: Change menu element name and adapt path--></span>
            </a>
        </li>
        <li class="sidebar__item selected">
            <a href="/collage" tabindex="0" title="Assets" target="_blank">
                <span class="icon-thumbnail-view"></span>
                <span>UI Component Collage<!--CUSTOMIZE: Change menu element name and adapt path--></span>
            </a>
        </li>
        <li class="sidebar__drawer sidebar__drawer--opened">
            <a tabindex="0" title="Template Pages">
                <span class="icon-browser"></span>
                <span>Template Pages <!--CUSTOMIZE: Change menu header element name--></span>
            </a>
            <ul>
                <li class="sidebar__item"><a href="/login" target="_blank">Login<!--CUSTOMIZE: Change menu element name and adapt path--></a></li>
                <li class="sidebar__item"><a href="/settings" target="_blank">Settings<!--CUSTOMIZE: Change menu element name and adapt path--></a></li>
                <li class="sidebar__item"><a href="/table" target="_blank">Table<!--CUSTOMIZE: Change menu element name and adapt path--></a></li>
                <li class="sidebar__item"><a href="/tablemenu" target="_blank">Table with Menu<!--CUSTOMIZE: Change menu element name and adapt path--></a></li>
                <li class="sidebar__item"><a href="/columnpage" target="_blank">Three Column Page<!--CUSTOMIZE: Change menu element name and adapt path--></a></li>
                <li class="sidebar__item"><a href="/dnac" target="_blank">DNA Center Page<!--CUSTOMIZE: Change menu element name and adapt path--></a></li>
                <li class="sidebar__item"><a href="/observables" target="_blank">SecureX Observables<!--CUSTOMIZE: Change menu element name and adapt path--></a></li>
            </ul>
        </li>
        <li class="sidebar__drawer sidebar__drawer--opened">
            <a tabindex="0" title="Charts Pages">
                <span class="icon-graph"></span>
                <span>Charts<!--CUSTOMIZE: Change menu header element name--></span>
            </a>
            <ul>
                <li class="sidebar__item"><a href="/pie">Pie Charts<!--CUSTOMIZE: Change menu element name and adapt path--></a></li>
                <li class="sidebar__item"><a href="/bar">Bar Graphs<!--CUSTOMIZE: Change menu element name and adapt path--></a></li>
                <li class="sidebar__item"><a href="/line">Time/Line Graphs<!--CUSTOMIZE: Change menu element name and adapt path--></a></li>
            </ul>
        </li>
        <li class="sidebar__drawer sidebar__drawer--opened">
            <a tabindex="0" title="Charts Pages">
                <span class="icon-cog"></span>
                <span>Cisco APIs<!--CUSTOMIZE: Change menu header element name--></span>
            </a>
            <ul>
                <li class="sidebar__item"><a href="/meraki">Meraki Dashboard API<!--CUSTOMIZE: Change menu element name and adapt path--></a></li>
            </ul>
        </li>
        <li class="sidebar__drawer sidebar__drawer--opened">
            <a tabindex="0" title="Charts Pages">
                <span class="icon-cog"></span>
                <span>DevNet SDK<!--CUSTOMIZE: Change menu header element name--></span>
            </a>
            <ul>
                <li class="sidebar__item"><a href="/mongoDB">mongoDB documentation<!--CUSTOMIZE: Change menu element name and adapt path--></a></li>
            </ul>
        </li>
    </ul>
</nav>
<!--CUSTOMIZE END-->
